{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>InfluenceXXI Brand Dashboard</title>
    <link href="{% static 'main/css/custom.css' %}" type="text/css" rel="stylesheet">
    <link href="{% static 'main/css/bootstrap.min.css' %}" type="text/css" rel="stylesheet">
    <link href="{% static 'main/css/font-awesome/css/font-awesome.min.css' %}" type="text/css" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>

    <style>
        body{
            font-family:'Poppins', sans-serif;
        }
    </style>
</head>
<body>


<!--<nav class="my-navbar">-->
<!--<div class="container">-->
<!--<div class="row">-->
<!--<div class="col-md-12 d-flex align-items-center justify-content-center">-->
<!--<h6 class=" m-auto">New kind of Configuration Management</h6>-->
<!--</div>-->
<!--</div>-->

<!--&lt;!&ndash;<a class="navbar-brand"><img src="cimg/logo.png" class="img-fluid"> </a>&ndash;&gt;-->
<!--&lt;!&ndash;<form class="">&ndash;&gt;-->
<!--&lt;!&ndash;<button class="navbar-btn btn my-2 my-sm-0" type="submit">+92-3312312332</button>&ndash;&gt;-->

<!--&lt;!&ndash;</form>&ndash;&gt;-->
<!--</div>-->

<!--</nav>-->
<div class="page-title">
    <div class="my-overlay">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1>{{post.title}}</h1>
                </div>
            </div>
        </div>
    </div>
</div>
{%if post.pdf %}
<div class="blogs-banner">
    <div class="container">
        <div class="row">
           
                <!-- <h1 class="text-center">InfluenceXXI Brand Dashboard</h1> -->
           
          
                <div class="container">
               
                <div class="row">
                    <div class="col-md-12">
                        <iframe src="{{post.pdf.url}}" width="100%" height="650px"></iframe>
                        <!-- <img src="cimg/InfluenceXXI BRAND DASHBOARD_001.png" alt="" style="text-align: center;"> -->
                    </div>
                </div>
            </div>
            
        </div>
    </div>

</div>
{%endif%}

{%if post.body%}
<div class="blog-para">
    <div class="container">
        <hr/>
        <div class="row">
            <div class="col-md-12">
                <p>{{post.body|safe}}</p>
                <a href="{% url 'index' %}" class="btn btn-dark">BACK TO PAGE</a>
            </div>
        </div>
        <hr style="margin-top: 26px"/>
    </div>
</div>
{%endif%}

<br><br>
<!-- <div class="btn btn-sm btn-secondary text-center">
    <a href="url 'home'">Go back</a>
</div> -->





<script src="{% static 'main/js/jquery.min.js' %}"></script>
<script src="{% static 'main/js/bootstrap.min.js' %}"></script>

<script>

    $('#myCarousel').carousel({
        pause: 'none'
    })

</script>
<script>
    $('.csm-trigger').on('click', function(){
        $('.compare-slide-menu').toggleClass('active');
    });

    $('.csm-mobile-trigger').on('click', function(){
        $('.compare-slide-menu').removeClass('active');
    });



    $('.csm-trigger1').on('click', function(){
        $('.compare-slide-menu').toggleClass('active');
    });

    $('.csm-mobile-trigger1').on('click', function(){
        $('.compare-slide-menu').removeClass('active');
    });
</script>
</body>
</html>